<div class="main user-show">
  <div class="container">
    <div class="user">
      <%= render partial: "users/user" %>
    </div>
    
    <div class="user-tabs">
      <ul>
        <li><%= link_to("ホーム", "/users/#{@user.id}/home") %></li>
        <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
        <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
        <li class="active"><%= link_to("フォロー", "/users/#{@user.id}/following") %></li>
        <li><%= link_to("フォロワー", "/users/#{@user.id}/followers") %></li>
      </ul>
        <%= render partial: "users/follow_form" %>
    </div>
    
    <% @following.each do |followed| %>
      <% followed_user = User.find_by(id: followed.followed_id) %>
      <%= render partial: "users/users_item", locals:{user: followed_user} %>
    <% end %>
    
    
    
  </div>
</div>