<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li><%= link_to("フォロー", "/users/#{@user.id}/following") %></li>
      <li class="active"><%= link_to("フォロワー", "/users/#{@user.id}/followers") %></li>
      <li class="follow_btn">
        <li class="follow_btn">
        <% if @current_user == @user %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <% elsif Relationship.find_by(follower_id: @current_user.id, followed_id: @user.id) %>
          <%= link_to("フォロー中", "/relationships/#{@user.id}/destroy", {method: "post"})  %>
        <% else %>
          <%= link_to("フォローする", "/relationships/#{@user.id}/create", {method: "post"})  %>
        <% end %>
      </li>
    </ul>
    
    <% @followers.each do |follower| %>
      <% follower_user = User.find_by(id: follower.follower_id) %>
      
      <div class="users-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{follower_user.image_name}" %>">
        </div>
        <div class="user-right">
          <%= link_to(follower_user.name, "/users/#{follower_user.id}") %>
        </div>
      </div>
      
    <% end %>
    
    
    
  </div>
</div>