<div class="main user-show">
  <div class="container">
    <div class="user">
      <%= render partial: "users/user" %>
    </div>
    
    <div class="user-tabs">
      <ul>
        <li class="active"><%= link_to("ホーム", "/users/#{@user.id}/home") %></li>
        <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
        <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
        <li><%= link_to("フォロー", "/users/#{@user.id}/following") %></li>
        <li><%= link_to("フォロワー", "/users/#{@user.id}/followers") %></li>
      </ul>
        <%= render partial: "users/follow_form" %>
    </div>
    
      <% @feed_items.each do |post| %>
        <%= render partial: "posts/posts_item", locals:{post: post} %>
      <% end %>
    
  </div>
</div>